code {
    background-color: whitesmoke;
}

section, header {
    margin: 50px;
    text-align: center;
}

input {
    height: 25px;
}

div {
    text-align: center;
}

section {
    text-align: center;
}

#testui {
    text-align: center;
    float: center;
}

